In [15]:
import pandas as pd
import numpy as np
from pyeeg import (
    bin_power,
    hfd,
    hjorth,
    spectral_entropy,
    svd_entropy,
    fisher_info,
    ap_entropy,
    dfa,
    hurst,
    permutation_entropy,
    spectral_entropy,
    samp_entropy,
    pfd
)

In [16]:
df = pd.read_csv('timeseries_NEW.csv')

In [17]:
df.drop(df.columns[0], axis=1, inplace=True)

In [18]:
df.head()

,s0209110,s0310211,s0310411,s0310703,s0310706,s0310710,s0311303,s0320307,s0408108,s0410108,...,s8010707,s8108205,s8420304,s8508108,s8608101,s8710205,s9309101,s9509011,s9709110,s9809003
0,8.32,0.0,26.75,0.0,72.66,74.72,0.0,0.13,12.36,0.0,...,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.0
1,5.57,0.0,30.88,0.0,33.76,120.70,0.0,0.06,13.88,0.0,...,0.00,0.2,0.00,0.0,4.75,0.0,5.35,0.0,0.0,0.0
2,13.60,0.0,17.23,0.0,38.43,199.51,0.0,29.35,10.79,0.1,...,6.34,0.0,0.03,0.0,0.00,0.0,0.47,0.0,0.0,0.0
3,5.06,0.0,1.75,0.0,21.80,60.94,0.0,72.06,27.75,0.0,...,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.0
4,0.00,0.0,11.72,0.0,26.64,35.22,0.0,39.49,50.18,0.0,...,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.0

In [19]:
df.dtypes.unique()

array([dtype('float64')], dtype=object)

In [20]:
df_features = pd.DataFrame()

In [21]:
df_features.index = df.columns

In [125]:
df_features['mean'] = df.mean()
df_features['max'] = df.max()
df_features['var'] = df.var()
quantile = df.quantile([0.25, 0.5, 0.75]).T
df_features[quantile.columns] = quantile

In [117]:
days = np.split(df.to_numpy(),7)
day_mean = np.array([day.mean(axis=0) for day in days])
df_features['day_var'] = day_mean.var(axis=0)

In [23]:
hjorth = np.array([hjorth(df[column]) for column in df])
df_features['hjorth_mobility'] = hjorth[:,0]
df_features['hjorth_complexity'] = hjorth[:,1]

In [25]:
df_features['dfa'] = [dfa(df[column]) for column in df]

C:\Users\alexj\AppData\Roaming\Python\Python311\site-packages\pyeeg-0.4.4-py3.11.egg\pyeeg\detrended_fluctuation_analysis.py:125: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
C:\Users\alexj\AppData\Roaming\Python\Python311\site-packages\pyeeg-0.4.4-py3.11.egg\pyeeg\detrended_fluctuation_analysis.py:129: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.

In [27]:
df_features['hurst'] = [hurst(df[column]) for column in df]

C:\Users\alexj\AppData\Roaming\Python\Python311\site-packages\pyeeg-0.4.4-py3.11.egg\pyeeg\hurst.py:54: RuntimeWarning: invalid value encountered in divide
C:\Users\alexj\AppData\Roaming\Python\Python311\site-packages\pyeeg-0.4.4-py3.11.egg\pyeeg\hurst.py:58: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.

In [32]:
df_features['hurst'].isna().sum()

27

In [22]:
df_features['pfd'] = [pfd(df[column]) for column in df]

In [33]:
df_features.isna().sum()

pfd                   0
hjorth_mobility       0
hjorth_complexity     0
dfa                   0
hurst                27
dtype: int64